body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.map-row {
    display: flex;
}

.tile {
    width: 48px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}

.tile-grass {
    background-image: url("/client/assets/images/grass.png");
}

.tile-wall {
    background-image: url("/client/assets/images/wall3.png");
}

.tile-braml {
    background-image: url("/client/assets/images/brmil.png");
}