body {
  background-color: #1a1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.map-container {
  position: relative;
  /* 9 columns * 40px = 360px */
  width: 750px;
  /* 9 rows * 40px = 360px */
  height: 750px;
  background-color: #2e4e35;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  border: 4px solid #000;
}

.tile {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  top: 0;
  left: 0;
}

.tile-grass {
  background-image: url("../images/tile1.jpg");
}

.tile-braml {
  background-image: url("../images/tile2.jpg");
  will-change: transform;
}

.tile-stone {
  background-image: url("../images/tile3.jpg");
}

.tile-wall-vertical {
  background-image: url("../images/tile4.jpg");
}

.tile-wall-horizontal {
  background-image: url("../images/tile5.jpg");
}

.tile-wall-corner {
  background-image: url("../images/tile6.jpg");
}
